{% extends "Layout.html" %}
{% block Body_Content %}
    <form class="flex justify-center flex-col gap-3 items-center min-h-[80vh]" method="post">
        {% csrf_token %}
        <h1 class="text-white text-3xl">
            Do you really want to delete this review??
        </h1>
        <div class="flex gap-3 justify-center items-center">
            <a href="{% url "All_Reviews" %}" class="focus:outline-none text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800">Cancel</a>

            <button type="submit" class="focus:outline-none text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-900">Delete Review</button>
        </div>
    </form>
{% endblock Body_Content %}
